apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      targetRevision: "*"
      helm:
        releaseName: ingress-nginx
        valueFiles:
          - $values/argocd/manifests/nginx-ingress-controller/values.yaml
    - repoURL: https://github.com/justingodden/eve-project.git
      ref: values
    # repoURL: https://github.com/kubernetes/ingress-nginx.git
    # repoURL: https://github.com/justingodden/eve-project.git
    # targetRevision: HEAD
    # path: deploy/static/provider/aws
    # path: argocd/manifests/nginx-ingress-controller
  destination:
    server: "https://kubernetes.default.svc"
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
